<div class="container">
    <h2 class="mt-5 mb-3 text-center">Liste des Cadeaux</h2>
    <div class="row">
        <% let i;
        for (i = 0; i < allCadeaux.length; i++) { %>
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="card  mycard">
            <img class="img-card mt-3" src="../assets/img/<%= allCadeaux[i].image %>">
            <p class="text-center myfont mt-4"><%= allCadeaux[i].nom %></p>
            <div class="mb-3">
              <p class="text-center myfont"><%= allCadeaux[i].prix %></p>
            </div>
            <a href="/modif_cadeau?idcadeau=<%= allCadeaux[i].id %>" class="btn mybtn btn-edit">EDIT</a>
            <a id="<%= allCadeaux[i].id %>" class="btn mybtn btn-delete">DELETE</a>
          </div>
        </div>
        <% } %>
      </div> 
</div>
