<div class="container">
    <h2 class="mt-5 mb-3">Liste des Cadeaux</h2>
    <% let i;
     for (i = 0; i < allCadeaux.length; i++){ %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= allCadeaux[i].nom %></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Prix : <%= allCadeaux[i].prix %></li>
                <li class="list-group-item">Taille : <%= allCadeaux[i].taille %> </li>
                <% let j;
                let colors="";
                for (j = 0; j < allCadeaux[i].couleurs.length; j++){
                    colors += allCadeaux[i].couleurs[j] + " ";
                }%>
                <li class="list-group-item">les couleurs disponibles : <%= colors%></li>
            </ul>
            <div class="card-body">
                <a href="/modif_cadeau?idcadeau=<%= allCadeaux[i].id %>" class="btn btn-primary mr-3">modifier</a>
                <a href="/delete_cadeau?idcadeau=<%= allCadeaux[i].id %>" class="btn btn-primary">supprimer</a>
            </div>
        </div>
    <%}%>
</div>