<div class="container div-form">
  <h3 class="mt-5 mb-3 myfont-title text-center">Modification de Cadeau</h3>

  <img class="img-card" src="../assets/img/<%= cadeau_data.image %>" alt="">

  <form enctype="multipart/form-data" id="modif-cadeau">
    <div class="form-floating mb-3">
      <input type="text"  name="nom" class="form-control" id="nomCadeau" placeholder="Entrez le nom du cadeau" value="<%= cadeau_data.nom %>" required>
      <label for="nomCadeau">Nom du Cadeau</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" name="prix" class="form-control" id="prixPoints" placeholder="Entrez le prix en points" value="<%= cadeau_data.prix %>"  required>
      <label for="prixPoints">Prix en Points</label>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-image" type="checkbox" value="" id="flexCheckImage">
      <label class="form-check-label myfont" for="flexCheckDefault">
        Voulez-vous changer l'image ?
      </label>
    </div>

    <div class="main-div-image">
      <div class="form-floating mb-3 div-image">
        <fieldset>
          <label for="image" class="myfont">Selectionnez l'image</label>
        </fieldset>
        <fieldset>
          <input class="form-control"  type="file" name="image" id="image" value="../assets/img/<%= cadeau_data.image %>" />
        </fieldset>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-taille" type="checkbox" value="" id="flexCheckTaille">
      <label class="form-check-label myfont" for="flexCheckDefault">
        Voulez-vous Ajouter un taille ?
      </label>
    </div>

    <div class="form-floating mb-3 ntaille">
      <input type="number" class="form-control" id="nbtaille" placeholder="Entrez le nombre de tailles">
      <label for="nbtaille">Nombre de Tailles</label>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-couleur" type="checkbox" value="" id="flexCheckCouleur">
      <label class="form-check-label myfont" for="flexCheckDefault">
      Ajouter la couleur ?
      </label>
    </div>

    <div class="form-floating mb-3 couleur">
      <% 
        let num = cadeau_data.couleurs === null ? 0 : cadeau_data.couleurs.split(":").length;
      %>
      <input type="number" class="form-control" id="nbcolor" placeholder="Entrez le nombre de couleurs" value="<%= num %>">
      <label for="nbcolor">Nombre de couleurs</label>
    </div>
    <button type="submit" class="btn mybtn mb-3 btn-modifier" id="<%= cadeau_data.id %> ">Modifer</button>
  </form>
</div>